<section>
    <div class="bg-light">
        <p class="text-center p-2">contacts</p>
    </div>
    <h3 class="text-center">Special title For Home</h3>
    <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, blanditiis reprehenderit aperiam
        reiciendis
        dolorum assumenda distinctio perspiciatis placeat commodi? Sequi itaque voluptas pariatur suscipit doloribus
        libero iste magnam distinctio vel? Repellendus, delectus? Nulla similique suscipit magni sequi eius possimus at
        cumque, perspiciatis iste nesciunt vero expedita omnis ducimus earum quibusdam a ab natus deleniti, dolorem
        quisquam! Enim nemo nostrum corporis sapiente vitae, aspernatur molestias, maxime nulla eaque, ipsam non. Quo
        expedita est fuga, tenetur quam corrupti! Pariatur, hic vitae. Sapiente placeat sit quo quis, et ullam esse
        ipsam reprehenderit eaque inventore odit nam debitis ratione laboriosam incidunt ipsa labore corporis.
        Cupiditate ipsa omnis quaerat quas vero perspiciatis excepturi fuga dignissimos laboriosam rem, sint at commodi,
        quod facilis? Minus cumque quia soluta nesciunt quae debitis omnis est culpa asperiores eligendi nulla, quasi
        rerum quis veritatis, dolorem error deserunt ab, voluptatum amet facilis molestias blanditiis consequuntur.
        Dolorum iusto ut reprehenderit unde voluptas nam, est soluta atque at earum dolorem a saepe repellendus eum,
        ullam molestiae? Deleniti nisi itaque pariatur blanditiis, harum, ipsam amet perferendis voluptates recusandae
        nobis ipsum aspernatur facere ab debitis dicta eos? Nesciunt animi consequatur quam doloribus autem error amet?
        Ipsam illo veritatis nihil voluptatem, laborum et mollitia debitis esse deserunt maxime, sunt suscipit aut
        recusandae tempora quia hic ad libero ab facere in similique ut cupiditate consectetur accusantium? Porro,
        deserunt iste! Molestiae obcaecati tempora quae minima, odit, eaque nam cum labore laborum at mollitia
        architecto natus ipsa vitae sed reprehenderit! Veritatis, laborum neque repellendus, fugit maxime eos numquam
        pariatur aliquid ipsa impedit tempore, asperiores ipsum! Doloribus nemo, doloremque enim aperiam repellat omnis
        quibusdam ipsam! Similique soluta amet quia? Pariatur modi assumenda repellat dolorum velit dolore! Sapiente,
        obcaecati assumenda iste suscipit minus tempora deserunt, alias deleniti dicta explicabo, illum doloremque?
        Molestias consequuntur, quae ad libero, odit rem facilis velit incidunt voluptas quaerat obcaecati voluptate
        esse quis sit maiores sequi quam dignissimos iste sint! Ab vero officiis nisi! Asperiores minima dolor minus
        error eaque, possimus corporis, aspernatur repellat et sint ullam eveniet nobis quisquam natus. Sapiente vero
        deleniti tempore nesciunt reiciendis amet quasi. Dicta, nostrum quaerat delectus obcaecati quidem cupiditate
        aperiam atque laudantium quae iste quia molestiae, necessitatibus sit architecto. Vel alias odio voluptatem
        voluptatum et debitis rerum nulla beatae nam harum veritatis, deleniti numquam mollitia laborum reprehenderit
        asperiores ullam perferendis voluptatibus error possimus. Reprehenderit repellat dolores asperiores corporis
        doloremque iure voluptatem alias mollitia, quisquam sequi fugiat, nisi neque! Illo reiciendis quo ratione atque
        maxime nemo delectus ipsa quas in distinctio, ullam culpa voluptatum error doloremque eaque fugiat aperiam
        tenetur beatae omnis nesciunt odio? Voluptatibus velit quos consequuntur. Nihil eaque quibusdam quo nobis neque
        excepturi aspernatur iusto minima? Vel, veniam quia voluptatibus mollitia, eius repellendus laborum facilis iure
        vitae voluptatum iusto. Hic nemo fugiat saepe, totam a fuga quia dignissimos, veritatis id sint optio cumque
        error quae labore facilis ea dicta voluptatum possimus placeat maxime rerum. Atque ad esse perferendis possimus
        rem nisi, sint voluptates assumenda et dolor nemo! Reprehenderit sunt nemo perspiciatis dicta quos esse iusto
        et, maiores exercitationem, temporibus nisi incidunt error? Placeat unde reprehenderit harum natus odit? Porro,
        fugit delectus numquam blanditiis minus quos reprehenderit, molestias perspiciatis reiciendis, et aliquid ipsum
        vero nemo! Atque exercitationem doloremque perspiciatis inventore nam quia error architecto enim expedita
        officia, alias eius omnis repudiandae nulla dolores similique sunt dolorem provident laboriosam neque beatae
        deserunt. Ipsa omnis iste neque consequuntur? Incidunt distinctio dolor impedit error culpa maiores quae sit at
        numquam voluptate eligendi vero provident hic voluptas aperiam, esse fugit repellendus consequuntur molestiae
        vitae exercitationem, ea non dignissimos? Ipsum sequi eveniet porro, ex deleniti explicabo placeat quisquam eos,
        obcaecati ipsam impedit consectetur nam? Quibusdam, eveniet sequi velit iure odit nisi omnis ratione mollitia
        facere distinctio tempora! Officia error maxime, provident, aut officiis qui, omnis commodi consequuntur ab ad
        temporibus doloribus tempore. Odit nam deleniti dolor voluptate animi dolore placeat veritatis perferendis,
        maiores soluta, iste quisquam. Modi natus suscipit quaerat nemo aut id eligendi perspiciatis veniam! Aliquam
        quaerat ipsum ipsam sequi? Unde animi fuga a sequi. Velit sed deleniti, tempora reiciendis quas quod excepturi
        quisquam consequuntur iste aliquam? Incidunt pariatur ab architecto, corporis impedit id molestiae asperiores et
        sit, harum eum facere! Nisi ex tenetur cum quas qui! Commodi explicabo non distinctio aliquam id blanditiis.

    </p>

    <div class="bg-light">
        <p class="text-center p-2">2 day ago</p>
    </div>
</section>