<section class="container mx-auto mt-2">
    <div class="row">
        <div class="row">
            @for (seafood of seafoodList; track $index) {
            <div class="col-md-3 ">
                <div class="card mt-4">
                    <img class="card-img-top" [src]="seafood.strMealThumb" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Title:{{seafood.strMeal.split(" ",2).join(" ")}}</h4>
                        <p class="card-text">desc:{{seafood.Desc}}</p>
                    </div>
                </div>

            </div>
            }
        </div>
    </div>
</section>