<section #el>
    <div class="text-center">
        <img src="https://assignment2-wine-one.vercel.app/images/23.jpg" alt="tltle" class="image">
    </div>
    <p class="w-50 mx-auto text-center">
        quaerat temporibus harum hic! Officiis, natus? Cupiditate ducimus esse velit consectetur sapiente non veritatis
        quidem error, atque architecto fuga delectus voluptatem iste aliquid culpa minima magni voluptas dolorem vero
        eius ullam earum pariatur. Unde cupiditate quaerat, iure recusandae adipisci ipsam, numquam aut consequuntur
        provident sint velit minus iste, repellat delectus impedit et reiciendis tempore iusto voluptatem rerum.
        Sapiente quasi alias modi impedit. In, fugit. Assumenda, unde totam aliquid hic, id sint dolor mollitia
        reprehenderit quod omnis repellendus consequatur deserunt itaque, commodi fuga dolorum. Ea deleniti ab corporis.
        Ullam tempora odio atque blanditiis reprehenderit ipsam non quos numquam corporis impedit ea consectetur nam,
        suscipit esse

    </p>
</section>