<section>
    <div class="bg-light">
        <p class="text-center p-2">Hello from Team Component</p>
    </div>
    <h3 class="text-center p-2">Hi I'm the Team Parent Component<i class="fa-solid fa-hand text-info"></i>and I Have A
        Child
        Called Supervisor 5aaafoooo Minooooooooo<i class="fa-solid fa-ghost"></i></h3>
    <p class="p-2 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, blanditiis
        reprehenderit aperiam
        reiciendis
        dolorum assumenda distinctio perspiciatis placeat commodi? Sequi itaque voluptas pariatur suscipit doloribus
        libero iste magnam distinctio vel? Repellendus, delectus? Nulla similique suscipit magni sequi eius possimus at
        cumque, perspiciatis iste nesciunt vero expedita omnis ducimus earum quibusdam a ab natus deleniti, dolorem
        quisquam! Enim nemo nostrum corporis sapiente vitae, aspernatur molestias, maxime nulla eaque, ipsam non. Quo
        expedita est fuga, tenetur quam corrupti! Pariatur, hic vitae. Sapiente placeat sit quo quis, et ullam esse
        ipsam reprehenderit eaque inventore odit nam debitis ratione laboriosam incidunt ipsa labore corporis.


    </p>

    <app-child></app-child>
    <div class="bg-info w-50 mx-auto rounded text-center">
        <h2 class="py-2">Let's introduce Me</h2>
        <p class="py-2">I'm the Child Component "Supervisor" amis To Control the <span class="text-danger">Red Area
            </span>located on
            My PArent
        </p>
        <button (click)="showElement()" class="btn btn-dark mb-4">click me to send data to my parent</button>
    </div>

    <div class="bg-light">
        <p class="text-center p-2">2 day ago</p>
    </div>
</section>